@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: #E6E6EA;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
    /* background: #091E05; */
    background: #172A3A;
    z-index: 999;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-inline-end: .5rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav .btn {
    padding: .5rem 2rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: .2rem;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
}

nav .btn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    font-size:1.2em;
    color: #fff;
}

/* ? MAIN */

/* HERO SECTION */

main section {
    min-height: 100vh;
}

main #home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url("/Images/spiderman.jpeg");
    background-size: cover;
    background-position: center;
}

main .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-inline: 8rem;
    padding-top: 3rem;
    color: #fff;
}

.hero .description {
    text-align: center;
    width: 700px;
    margin-block-end: 1rem;
}

.description h1 {
    font-size: 4em;
    margin-block: 1rem;
}

.description p {
    font-size: 1.3em;
    letter-spacing: 1px;
}

/* ! MOVIE GENRE */

#genres {
    display: flex;
    align-items: center;
    justify-content: center;
}

#genres .movie__genres {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 1rem;
}

h2 {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 500;
    margin-block: 2rem;
    text-align: center;
}

.movie__genres .genre__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.genre__container .card {
    width: 200px;
    height: 350px;
    border: 1px solid #0002;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px -5px #0004;
    background-color: #e2e2e2;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card .content {
    padding-block-start: .5rem;
}

/* ! TOP 5 MOVIES */

#top__movies {
    display: flex;
    align-items: center;
    justify-content: center;
}

#top__movies .popular__movies {
    margin-inline: 10rem;

}

.top__cards__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2top__cards__container, 1fr);
    gap: 2rem;
}

.top__cards__container .top__movie {
    width: 330px;
    height: 185px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px -5px #0004;
    position: relative;
    backdrop-filter: blur(5px);
}

.top__card__img {
    width: 100%;
    height: 100%;
}

.top__cards__container .content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    padding: 20px 20px;
    transition: .6s;
    transform: translateY(60%);
    cursor: pointer;
}

.top__cards__container .content:hover {
    transform: translateY(0);
}

.content h3 {
    font-size: 1.5em;
    font-weight: 500;
}

.content .content__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: .3rem;
    transition: .6s;
    opacity: 0;
}

.content:hover .content__info {
    opacity: 1;
}

.content__info .rating ion-icon {
    color: orange;
    font-size: .8em;
}

.movie__info span{
    font-size: .8em;
}

.content p {
    font-size: .8em;
    margin-bottom: .5rem;
}

.content .btn__two {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 4px 10px;
    font-size: .6em;
    font-weight: 600;
}

/* ! CONTACT */

.wrapper {
    min-height: 100vh;
}

.wrapper .barner {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.4)50%), url("./Images/Banner.png");
    background-size: cover;
    position: relative;
}

/* .barner h1 {
    font-size: 3em;
    color: #fff;
    margin-block-start: 5rem;
} */

.wrapper .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 1.5rem auto;
    box-shadow: 0 0 10px  #0006;
    border-radius: .5rem;
    place-items: center;
    padding: 1rem;
    background: #d3d5d4;
    position: absolute;
    top: 70%;
}

.contact__form__info h2 {
    font-weight: 600;
    font-size: 2.5em;
}

.contact__form__info p {
    font-size: 1.1em;
    color: #0009;
}

.form {
    width: 100%;
    padding: 1rem;
}

.form .input__field {
    width: 100%;
    height: 40px;
    margin-block-end: 1rem;
    box-shadow: 0 0 10px  #0006;
    border-radius: .3rem;
}

.input__field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: .5rem;
}

.form #tarea {
    width: 100%;
    height: 70px;
    resize: none;
    border-radius: .3rem;
    box-shadow: 0 0 10px  #0006;
    border: none;
    padding: .5rem;
    background: transparent;
    margin-block-end: 1rem;
}

.form button {
    padding: .5rem 2rem;
    background-color: #235789;
    outline: none;
    border: 1px solid #235789;
    border-radius: .2rem;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.form button:hover {
    border: 1px solid #235789;
    background: transparent;
    color: #235789;
}

/* ! FOOTER */

footer {
    position: relative;
    background: #172A3A;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 1.3em;
    font-weight: 600;
}

footer .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25rem;
    color: #fff;
}

.footer__wrapper .menu__list ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.menu__list ul li a {
    color: #fff;
    text-decoration: none;
}

.links h4{
    margin-block-end: .5rem;
}

footer .links .icons {
    display: flex;
    gap: 1rem;
}

footer .links .icons a {
    background-color: #235789;
    width: 30px;
    height: 30px;
    padding: .3rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.icons a ion-icon {
    color: #fff;
    font-size: .8em;

}

footer .newslater {
    background-color: #235789;
    width: 60%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px -5px #0005;
    position: absolute;
    top: -20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    color: #fff;
}

.newslater a {
    background: #fff;
    color: #000;
    text-decoration: none;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    transition: .6s;
}

.newslater a:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}